# Emacs Custom Compiled Integration
export PATH="{{ emacs_install_dir }}/bin:$PATH"

# FZL Emacs Commands & Shortcuts
alias fzl-emacs='/usr/local/bin/fzl-emacs'
alias fzl-emacs-nw='/usr/local/bin/fzl-emacs -nw'
alias fzl-emacs-start='/usr/local/bin/fzl-emacs-start'
alias fzl-emacsclient='/usr/local/bin/fzl-emacsclient'

# Access Fedora Repository Emacs
alias repo-emacs='/usr/bin/emacs'
alias repo-emacs-nw='/usr/bin/emacs -nw'

# Optional: Uncomment below if you want plain 'emacs' command in terminal to use FZL config:
# alias emacs='fzl-emacs'
